.above{
    height: 100px;
    background-color: rgb(71, 43, 43);
 
  }
 .titleImage{
      padding-left: 10px
  }
.chatLive{
    margin-top: 12px
}
  .emailText{
      color:black
     
  }
  .registerText{
    color: black
}
.passwordText{
    color:black
}

.forgetPasswordText{
    color: black
}

.passwordText{
    text-decoration-color: black
}
.submitBtn{
    margin-top: 22px
}
.shift{
    padding-left:20px
}

.navbar {
    border-radius: 0;
    background-color: rgb(59, 47, 47);
}