<div class="above">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-3 md-offset-2">
          <h2 class="titleImage">
            <a href="/">
              <img id="logo" src="assets/Image/homework-help.png" title="">
            </a>
          </h2>
          <div>
            <a href="https://www.facebook.com/urgenthomework" title="">
              <img src="assets/Image/homework-help-facebook.png" class="shift" alt="" />
            </a>
            <a href="https://twitter.com/urgenthomework" title="">
              <img src="assets/Image/homework-help-twitter.png" alt="" />
            </a>
            <a href="https://plus.google.com/115032299849927200029" title="">
              <img src="assets/Image/homework-help-google-plus.png" alt="" />
            </a>
          </div>
        </div>

        <div class="col-sm-2 md-offset-1">
          <a href="/">
            <img id="logo" src="assets/Image/cdn.livechatinc.com.gif" class="chatLive">
          </a>
        </div>
        <div class="col-sm-3">
          <label class="emailText"> Email</label>
          <input type="email" class="form-control" />
          <a routerLink="/signUp" class="registerText">Register</a>
        </div>
        <div class="col-sm-3">
          <label class="passwordText"> Password</label>
          <input type="password" class="form-control" />
          <a routerLink='/forgetPassword' class="forgetPasswordText">Forget Password </a>

        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-primary submitBtn">Login</button>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="nav-wrapper">
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="nav-item active">
            <a routerLink="/home">HOMEPAGE</a>
          </li>
          <li class="nav-item">
            <a routerLink="/sampleassignment">SAMPLE ASSIGNMENTS</a>
          </li>
          <li class="nav-item">
              <a routerLink="/service">SERVICES</a>
            </li>
          <li class="nav-item">
            <a routerLink="/howitworks">HOW IT WORKS</a>
          </li>
          <li class="nav-item">
            <a routerLink="/contactus">CONTACT US</a>
          </li>
          <li class="nav-item">
            <a routerLink="/submithomework">SUBMIT HOMEWORK</a>
          </li>
          <li class="nav-item">
            <a routerLink="/blog">BLOG</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>