<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="text-center">Urgent HomeWork offer following subjects Help</h3>
      <div class="col-sm-3">
        <h4 class="MS">Math and Science</h4>
          <ul>
            <div class="text-justify">

                <li><a href="#" title="Math Homework Help">Math Homework Help</a></li>
                <li><a href="#" title="Geometry Homework Help">Geometry Homework Help</a></li>
                <li><a href="#" title="Algebra Homework Help">Algebra Homework Help</a></li>
                <li><a href="#" title="Trigonometry Homework Help">Trigonometry Homework Help</a>	</li>
                <li><a href="#" title="Statistics Homework Help">Statistics Homework Help</a>	</li>
                <li><a href="#" title="Calculus Homework Help">Calculus Homework Help</a></li>
                <li><a href="#" title="Science Homework Help"> Science Homework Help</a></li>
                <li><a href="#" title="Biology Homework Help"> Biology Homework Help</a></li>
                <li><a href="#" title="Chemistry Homework Help">Chemistry Homework Help</a></li>
                <li><a href="#" title="Social Science Homework Help">Social Science Homework Help</a></li>
                <li><a href="#" title="Psychology Homework Help">Psychology Homework Help</a></li>
                <li><a href="#" title="Help With Assignment">Help With Assignment</a></li>
                <li><a href="#" title="Literature Homework Help">Literature Homework Help</a></li>
                <li><a href="#" title="Do My Homework">Do My Homework</a></li>
            </div>
          </ul>
       
      </div>
      <div class="col-sm-3">
        <h4 class="cs">Computer Science</h4>
          <ul>
            <div class="text-justify">
                <li><a href="#" title="Languages:C/C++/C#,Java">Languages:C/C++/C#,Java </a></li>
                <li><a href="#" title="Databases: SQL, Oracle, SQL Server">Databases:SQL,Oracle,SQLServer</a></li>
                <li><a href="#" title="Data structures and algorithm">Data structures and algorithm</a></li>
                <li><a href="#" title="Operating Systems Homework Help">Operating Systems Homework Help</a>	</li>
                <li><a href="#" title="Statistics Homework Help">Computer NetworksHomework Help</a>	</li>
                <li><a href="#" title="UML Diagrams Homework Help">UML Diagrams Homework Help</a></li>
                <li><a href="#" title="Python Homework Help"> Python Homework Help</a></li>
                <li><a href="#" title="Java Homework Help"> Java Homework Help </a></li>
                <li><a href="#" title="Java Servlets Homework Help">Java Servlets Homework Help</a></li>
                <li><a href="#" title="Information Technology">Information Technology</a></li>
                <li><a href="#" title="English Homework Help">English Homework Help</a></li>
                <li><a href="#" title="Law Homework Help">Law Homework Help</a></li>
                <li><a href="#" title="Coursework Help">Coursework Help</a></li>
            </div>
          </ul>
    
      </div>
      <div class="col-sm-3">
        <h4 class="engg">Engineering</h4>
          <ul>
            <div class="text-justify">
            <li><a href="#" title="Biochemical&Biotechnology">Biochemical&Biotechnology</a></li>
            <li><a href="#" title="Chemical Engineering">Chemical Engineering</a></li>
            <li><a href="#" title="Civil Engineering">Civil Engineering</a></li>
            <li><a href="#" title="Computer Sc&Engineering">ComputerSc&Engineering</a></li>
            <li><a href="#" title="Electrical Engineering">Electrical Engineering</a></li>
            <li><a href="#" title="Mathematics&Computing">Mathematics&Computing</a></li>
            <li><a href="#" title="Mechanical Engineering">Mechanical Engineering</a></li>
            <li><a href="#" title="Medical Science Homework Help"> MedicalScience Homework Help</a></li>
            <li><a href="#" title="Nursing Homework Help">Nursing Homework Help</a></li>
            <li><a href="#" title="Textile Technology">Textile Technology</a></li>
            <li><a href="#" title="Humanities Homework Help">Humanities Homework Help</a></li>
            <li><a href="#" title="Arts&Architecture">Arts&Architecture</a></li>
            <li><a href="#" title="Political Science">Political Science</a></li>
            </div>
          </ul>      
      </div>
      <div class="col-sm-3">
        <h4 class="bs">Business studies</h4>
          <ul>
            <div class="text-justify">
                <li><a href="#" title="Finance Homework Help">Finance Homework Help</a></li>
                <li><a href="#" title="Accounting Homework Help">Accounting Homework Help</a></li>
                <li><a href="#" title="Marketing Homework Help">Marketing Homework Help</a></li>
                <li><a href="#" title="Economics Homework Help">Economics Homework Help</a>	</li>
                <li><a href="#" title="Human Resource Homework Help">Human Resource Homework Help</a>	</li>
                <li><a href="#" title="Operations Management Homework Help">Operations Management Homework Help</a></li>
                <li><a href="#" title="Strategy & planning Homework Help">Strategy&planning Homework Help</a></li>
                <li><a href="#" title="Project management Homework Help"> Project management Homework Help</a></li>
                <li><a href="#" title="Business development Homework Help">Business development Homework Help</a></li>
                <li><a href="#" title="Case Studies Homework Help">Case Studies Homework Help</a></li>
                <li><a href="#" title="Research Paper Homework Help">Research Paper Homework Help</a></li>
                <li><a href="#" title="Essay Writing Homework Help">Essay Writing Homework Help</a></li>
                <li><a href="#" title="Dissertation Writing">Dissertation Writing</a></li>
                <li><a href="#" title="Custom Assignment Help">Custom Assignment Help</a></li>
            </div>
          </ul>
       
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6">
        <a href="college_homework_help" title="College Homework Help">College</a> |
        <a href="/Online_Tutoring" title="Online Tutoring">Online Tutoring </a> |
        <a href="/online-homework" title="Online Homework Help">Online Homework </a> |
        <a href="university-homework-help" title="University Homework Help">University</a> |
        <a href="homework_testimonial" title="Testimonials">Testimonials</a> |
        <a href="careers" title="UrgentHomework.com Careers">Careers</a>
      </div>
      <div class="col-sm-3">
        <img src="assets/Image/homework-help-shadow.png" title="" class="uhnShadow" alt="" height="32" width="256" />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span class="copy"> Copyright © 2009-2018 Augment Systems Pvt. Ltd. All right reserved.
          <a href="privacy-policy" title="Privacy Policy">Privacy Policy</a> |
          <a href="sitemap.xml" target="_blank" title="Xml Sitemap">Sitemap</a>
        </span>
      </div>
    </div>
  </div>
</div>