.footer{
    height: 100px;
    background-color: rgb(182, 182, 182)
}
.copy{
    padding-left:30px
}

.MS{
    padding-left:30px;
}
.engg{
    padding-left:30px;
}
.bs{
    padding-left:30px;
}
.cs{
    padding-left:30px;
}