<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-5">
                    <img class="imgsrc" id="" src="assets/Image/college-homework-help.png" title="">
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="col-sm-6 hello">
                            <h2 class="assignment">Submit Assignment</h2>
                            <br>
                            <input type="email" class="form-control" value="email" />
                            <br>
                            <input type="text" class="form-control" value="password" />
                            <br>
                            <input type="text" class="form-control" value="Phone number" />
                            <br>
                            <input type="text" class="form-control" value="project title" />
                            <br>
                            <input type="text" class="form-control" value="deadline" />
                            <br>
                            <select class="form-control">
                                <option>Account</option>
                                <option>Annual Reports</option>
                                <option>AQM</option>
                                <option>Arts and Humanities</option>
                                <option>Biology</option>
                                <option>Biotechnology</option>
                                <option>Business Case Study</option>
                                <option>Business Communication</option>
                                <option>Chemistry</option>
                                <option>Computer Architecture</option>
                                <option>Consumer Survey</option>
                                <option>Corporate And Business Law</option>
                                <option>Cost Accounting</option>
                                <option>Data Analytics</option>
                                <option>Database</option>
                                <option>Econometrics</option>
                                <option>Economics</option>
                                <option>ERP</option>
                                <option>Essay Writing</option>
                                <option>Fashion Marketing Management</option>
                                <option>Finance</option>
                                <option>Financial Accounting</option>
                                <option>General Science</option>
                                <option>HRM</option>
                                <option>HTML,JAVA,C++</option>
                                <option>Human Resource</option>
                                <option>Industrial Engineering</option>
                                <option>Information Technology</option>
                                <option>Legal document</option>
                                <option>Managerial Accounting</option>
                                <option>Market Reports and Journals</option>
                                <option>Marketing</option>
                                <option>Marketing Brochures</option>
                                <option>Material Science</option>
                                <option>Media and Marketing Advertising</option>
                                <option>MIS</option>
                                <option>Operation Research</option>
                                <option>Physics</option>
                                <option>Others</option>
                            </select>
                            <br>
                            <textarea class="form-control" value="Write about you subject/assignment/project/homework...detail"></textarea>
                            <br>
                            <input type="file">
                            <br>
                            <img id="logo" src="assets/Image/captcha.php.png" title="">
                            <br>
                            <br>
                            <input type="text" class="form-control" value="Enetr the captcha code here">
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
      
            
            
        </div>
    </div>
</div>