<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-6 freeAssignment">
          <h3 class="">Quick Upload</h3>
          <hr>
          <input type="email" class="form-control" value="email" />
          <br>
          <input type="text" class="form-control" value="password" />
          <br>
          <input type="text" class="form-control" value="Phone number" />
          <br>
          <input type="text" class="form-control" value="project title" />
          <br>
          <input type="text" class="form-control" value="deadline" />
          <br>
          <select class="form-control">
              <option>Account</option>
              <option>Annual Reports</option>
              <option>AQM</option>
              <option>Arts and Humanities</option>
              <option>Biology</option>
              <option>Biotechnology</option>
              <option>Business Case Study</option>
              <option>Business Communication</option>
              <option>Chemistry</option>
              <option>Computer Architecture</option>
              <option>Consumer Survey</option>
              <option>Corporate And Business Law</option>
              <option>Cost Accounting</option>
              <option>Data Analytics</option>
              <option>Database</option>
              <option>Econometrics</option>
              <option>Economics</option>
              <option>ERP</option>
              <option>Essay Writing</option>
              <option>Fashion Marketing Management</option>
              <option>Finance</option>
              <option>Financial Accounting</option>
              <option>General Science</option>
              <option>HRM</option>
              <option>HTML,JAVA,C++</option>
              <option>Human Resource</option>
              <option>Industrial Engineering</option>
              <option>Information Technology</option>
              <option>Legal document</option>
              <option>Managerial Accounting</option>
              <option>Market Reports and Journals</option>
              <option>Marketing</option>
              <option>Marketing Brochures</option>
              <option>Material Science</option>
              <option>Media and Marketing Advertising</option>
              <option>MIS</option>
              <option>Operation Research</option>
              <option>Physics</option>
              <option>Others</option>
          </select>
          <br>
          <textarea class="form-control" value="Write about you subject/assignment/project/homework...detail"></textarea>
          <br>
          <input type="file">
          <br>
          <a href="#">Attach another file</a>
          <br>
          <img id="logo" src="assets/Image/captcha1.php.png" title="">
          <br>
          <br>
          <input type="text" class="form-control" value="Enetr the captcha code here">
          <br>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
  
        <div class="col-sm-6 resource">
          <div class="row">
            <div class="col-sm-12">
              <h4 class="text-left">Resources</h4>
              <ul>
                  <li><a href="#" title="About Us">About Us </a></li> 
                  <li><a href="#" title="Links Exchange">Links </a></li>
                <li>24 x 7 Availability.</li>
                <li>Trained and Certified Experts.</li>
                <li>Deadline Guaranteed.</li>
                <li>Plagiarism Free.</li>
                <li>Privacy Guaranteed.</li>
                <li> <a href="#" title="download Free Assignment">Free download</a>.</li>
                <li>Online help for all project.</li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <h4>Testimonials</h4>
              <p class="text-justify">Urgenthomework helped me with finance homework problems and taught math portion of my course as well. Initially,
                I used a tutor that taught me math course I felt that as if I was not getting the help I needed. With the help
                of Urgenthomework, I got precisely where I was weak: Sheryl.
                <a href="homework_testimonial" title="Read testimonial">Read More</a>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
                <!-- PayPal Logo -->
            <a href="https://www.paypal.com/in/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/in/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
            <img src="assets/Image/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
          </a>
          <!-- PayPal Logo -->
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

