<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 freeAssignment">
        <h3 class="">Sign Up with Urgent homework</h3>
        <hr>
        <label>Email</label>
        <input type="email" class="form-control" value="" />
        <label>Password</label>
        <input type="text" class="form-control" value="" />
        <label>Verify Password</label>
        <input type="text" class="form-control" value="" />
        <label>Phone Number</label>
        <input type="text" class="form-control" value="" />
        <label>Promotion Email</label>
        <select class="form-control">
          <option>Yes</option>
          <option>No</option>
        </select>
        <br>
        <div class="row">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-danger">Cancel</button>
          </div>
        </div>
      </div>

      <div class="col-sm-6 resource">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="text-left">Resources</h4>
            <ul>

              <li>24 x 7 Availability.</li>
              <li>Trained and Certified Experts.</li>
              <li>Deadline Guaranteed.</li>
              <li>Plagiarism Free.</li>
              <li>Privacy Guaranteed.</li>
              <li>Free download.</li>
              <li>Online help for all project.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h4>Testimonials</h4>
            <p class="text-justify">Urgenthomework helped me with finance homework problems and taught math portion of my course as well. Initially,
              I used a tutor that taught me math course I felt that as if I was not getting the help I needed. With the help
              of Urgenthomework, I got precisely where I was weak: Sheryl.
              <a href="homework_testimonial" title="Read testimonial">Read More</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <!-- PayPal Logo -->
            <a href="https://www.paypal.com/in/webapps/mpp/paypal-popup" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/in/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
              <img src="assets/Image/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
            </a>
            <!-- PayPal Logo -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>