<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 freeAssignment">
        <h3 class="">Urgent Homework Help Blog</h3>
        <hr>
        <img class="imgsrc" id="" src="assets/Image/lifeUk.jpg" title="">
      </div>

    </div>
  </div>
</div>