<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center">Free Sample Assignments</h1>
      <div class="col-sm-6 freeAssignment">
        <div class="row">
          <div class="col-sm-12">
            <h2>
              <u>Sample Accounting Assignment</u>
            </h2>
            <h3>
              <a href="#" title="Accounting: A company Annual Report">Accounting: A company Annual Report</a>
            </h3>
            <h3>
              <a href="#" title="Accounting Sample Assignment">Accounting: Main business activity of Company</a>
            </h3>
            <h3>
              <a href="#" title="CVP analysis">San Jose Motors CVP analysis</a>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="">
              <u>Sample Marketing Assignment</u>
            </h2>
            <h3>
              <a href="#" title="Business Plan">Business Plan</a>
            </h3>
            <h3>
              <a href="#" title="Banking Industry Homework Help">Banking Industry</a>
            </h3>
            <h3>
              <a href="#" title="British Airways">British Airways</a>

            </h3>
            <h3>
              <a href="#" title="Business Performance">Business Performance</a>

            </h3>
            <h3>
              <a href="#" title="Global Market">Global Market</a>

            </h3>
            <h3>
              <a href="#" title="International Engineering">International Engineering</a>
            </h3>
            <h3>
              <a href="#" title="Lean Manufacturing Process">Lean Manufacturing Process</a>
            </h3>
            <h3>
              <a href="#" title="Marketing Assignment">Marketing Assignment- Woolworth company report</a>
            </h3>
            <h3>
              <a href="#" title="Revenue Management">Revenue Management</a>
            </h3>
            <h3>
              <a href="#" title="Risk Management">Risk Management</a>
            </h3>
            <h3>
              <a href="#" title="Scientific Management">Scientific Management</a>
            </h3>
            <h3>
              <a href="#" title="Tourism Motivation">Tourism Motivation</a>
            </h3>
            <h3>
              <a href="#" title="Visual Merchandising">Visual Merchandising- Marketing management</a>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="">
              <u>Sample Assignment on Human Resources</u>
            </h2>
            <h3>
              <a href="#" title="Diversity Management">Diversity Management</a>
            </h3>
            <h3>
              <a href="#" title="Human Resources Policies">Human Resources Policies</a>
            </h3>
            <h3>
              <a href="#" title="Human Resources">Human Resources:- organizational structure</a>
            </h3>
            <h3>
              <a href="#" title="Project Analysis">Project Analysis</a>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="">
              <u>Sample Assignment on Case Studies</u>
            </h2>
            <h3>
              <a href="#" title="Case Studies">Case Studies</a>
            </h3>
            <h3>
              <a href="#" title="Case Study Analysis">Case Study Analysis</a>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="">
              <u>Sample Assignment on Economics</u>
            </h2>
            <h3>
              <a href="#" title="Achievement of Economic Sustainability">Achievement of Economic Sustainability</a>
            </h3>
            <h3>
              <a href="#" title="Concept Of Managerial Economics">Concept Of Managerial Economics</a>
            </h3>
            <h3>
              <a href="#" title="Economics Sample Assignment">Economics:- Inflation Process in Singapore</a>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="">
              <u>Programming Sample Assignment</u>
            </h2>
            <h3>
              <a href="#" title="Active aquarium">Active aquarium</a>
            </h3>
            <h3>
              <a href="#" title="Database Design and Implementation">Database Design</a>
            </h3>
            <h3>
              <a href="#" title="Sample Programming Assignment in Java">Java Programming Assignment</a>
            </h3>
            <h3>
              <a href="#" title="Newton's law of cooling">Newton's law of cooling</a>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="">
              <u>Sample Psychology Assignment</u>
            </h2>
            <h3>
              <a href="evaluation-of-social-networking" title="Evaluation of Social networking">Evaluation of Social networking</a>
            </h3>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <h2 class="">
              <u>Sample Finance Assignment</u>
            </h2>
            <h3>
              <a href="#" title="Financial Ratio Analysis Report of Sony and Samsung">Financial Ratio Analysis Report of Sony and Samsung</a>
            </h3>
          </div>
        </div>
      </div>    
    <div class="col-sm-6 resource">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="text-left">Resources</h4>          
          <ul>
            <li>24 x 7 Availability.</li>
            <li>Trained and Certified Experts.</li>
            <li>Deadline Guaranteed.</li>
            <li>Plagiarism Free.</li>
            <li>Privacy Guaranteed.</li>
            <li>Free download.</li>
            <li>Online help for all project.</li>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Testimonials</h4>
          <p class="text-justify">Manhattan USA, Accounting student: I found the tips and Sample accounting homework paper on urgenthomework.com
            that helped me a lot in completing my homework for Accounting class.</p>
        </div>
      </div>
    </div>

</div>
</div>
</div>


