<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-6 freeAssignment">
        <h3 class="">Urgent HomeWork.com/Forget password</h3>
        <hr>
        <label>Please enter you email Id that was used for account creation</label>
        <hr>
        <label>Email Id</label>
        <input type="text" class="form-control" value="" />
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

      <div class="col-sm-6 resource">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="text-left">Resources</h4>
            <ul>

              <li>24 x 7 Availability.</li>
              <li>Trained and Certified Experts.</li>
              <li>Deadline Guaranteed.</li>
              <li>Plagiarism Free.</li>
              <li>Privacy Guaranteed.</li>
              <li>Free download.</li>
              <li>Online help for all project.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>